[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
scipy = "*"
pandas = "*"
matplotlib = "*"
missingno = "*"
shap = "*"
smote = "*"
learn = "*"
lightgbm = "*"

[dev-packages]

[requires]
python_version = "3.10"
